*/*/*.rda
*/InteligenciaArtificial_Python/
*/MNIST-data/
*/entorno
*/*/entorno
*/*/data
*/*/*.pth
*/*/output.mp4
env
.ipynb_*
*/.ipynb_*
*/*/.ipynb_*
*/*/*/.ipynb_*
*/output/*
*/25. Face Recognition/*/*.jpg
*/25. Face Recognition/faces/*
*/*/*/*.jpg
*/*/*/*/*.jpg
*/*/*/*/*/*.jpg
*/*/.idea
*/*/__pycache__

2022-05-Modern-Computer-vision/*/__MACOSX
2022-05-Modern-Computer-vision/*/Working with Video
2022-05-Modern-Computer-vision/*/images